/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
  -------------------------------------------------- */
.container .credit {
  margin: 20px 0;
}

header .sub-title {
  color: #999999;
  font-style: italic;
  margin-left: 0px;
}

header #social {
  text-align: right;
  margin-right: 10px; margin-left: 10px;
}
@media (max-width: 767px) {
  header #social {
    text-align: left;
    margin-left: 0px;
  }
}

.post-title {
  margin-top: 15px; margin-bottom: 5px;
  padding-top: 10px;
  border-top: 1px dashed #eeeeee;
}

.post-subtitle {
  float: left;
  margin-bottom: 5px;
  font-size: 85%; color: #AAA;
}

.post-subtitle a {
  color: inherit;
}

.post-subtitle a:hover {
  color: #666;
}

.post-digest {
  clear: both;
  /*margin-bottom: 5px;*/
  padding: 5px 5px 10px 10px;
}

.post-tags {
  float: right;
  margin-bottom: 5px; margin-right: 10px;
  font-size: 85%; color: #AAA; font-style: italic;
}

.post-tags a {
  color: inherit;
}

.post-tags a:hover {
  color: #666;
}

.post .post-date {
  font-size: 85%; color: #AAA;
}

#tag-list {
  /*background: url('/img/tag_blue.png') no-repeat;*/
  /*width: 50px; height: 50px; */

    /*background: url('/img/tag_blue.png') no-repeat -120px -80px;*/
    /*width: 24px; height: 24px; position: absolute; margin-left: -25px; margin-top: -2px;*/
}

/*.ic-github {
  background: url('/img/github.jpeg') no-repeat;
  width: 24px; height: 24px; 
}*/

.tag-list-item {
  margin: 3px;
  padding: 3px;
  color: #BBB;
  white-space: nowrap;
  /*line-height: 1.2;*/
  display: inline-block;
}

.tag-list-item:hover {
  color: #999;
  background-color: #EEE;
  border: 1px none; border-radius: 6px; box-shadow: 0 2px 2px rgba(0,0,0,.25);
}

.tag-list-item a {
  color:inherit;
}

.tag-list-item a:hover {
  color:inherit;
}

.article-title {
  /*font-weight: bold;*/
  /*font-size: 110%;*/
}

.article-title-wrapper {
  /*width: 90%;*/
  /*background-color: #EEE;*/
  /*border: 1px none; border-radius: 0px; box-shadow: 0 2px 2px rgba(0,0,0,.25);*/
  /*display: inline-block;*/
}

.article-content {
  clear: both;
}

.sidebar-title {
  color: #666; font-weight: bold;
  margin-bottom: 5px; margin-top: 20px;
}

.sidebar-title a {
  color: inherit;
}

.sidebar-title a:hover {
  color: #BBB;
}

.related-post {
  margin-top: 3px; margin-bottom: 3px; margin-left: 5px;
}

.related-post a {
  color: #BBB;
}

.related-post a:hover {
  color: #666;
}

#main-content {
  margin-left: 0;
  /*margin-right: 40px;*/
}

#feed-link {
  background: url('/img/feed-normal.png') no-repeat;
  padding-left: 18px; padding-top: 3px;
  color: #BBB; font-weight: normal;
}

#feed-link:hover {
  background: url('/img/feed-highlight.png') no-repeat;
  color: #666;
}

#footer-wrapper {
  /*width: 690px;*/
  float: left;
}

footer #tech {
  margin-right: 20px;
  float: right;
}

footer #cp {
  margin-left: 20px;
  float: left;
}