---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.feature %}<img class="feature" src="{{post.feature}}" />{% endif %}

        <h1>{{ post.title }}</h1>
        {% if post.subtitle %}<div class="subtitle">{{ post.subtitle }}</div>{% endif %}

        <p class="post_date_tags">
          <span class="post_date">{{ post.date | date: '%Y-%m-%d' }}</span>
          &nbsp;
          {% assign categories = post.categories | slice: 0, 4 %}
          {% for category in categories %}
          <a class="tag" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% endfor %}
          {% if categories.size > 3 %}…{% endif %}
        </p>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">全文</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
