    </div>
    <div id="push"></div>
  </div>
  <footer>
    <div class="container muted">
      <small class="credit copy span7">
        &copy; <a href="https://github.com/xinthink">xinthink</a> <script type="text/javascript">document.write((new Date()).getFullYear());</script>
      </small>
      <small id="build" class="span3 credit">
        Built <a href="https://github.com/xinthink/xinthink.github.com">{{ site.time | date: "%Y-%m-%d %Z" }}</a>
      </small>
    </div>
    <div style="clear:both;"></div>
  </footer>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-33049696-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
