<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pygment_trac.css"> <!-- syntax highlight -->


    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- for debug
    <link rel="stylesheet" href="/css/bootstrap.css">
     -->

    <!-- atom & rss feed -->
    <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <!-- <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed"> -->

    <title>{% if page.title %}{{page.title}} - xinthink{% else %}xinthink - dumping my mind{% endif %}</title>
  </head>
  <body>
  <div id="wrap">
    <header>
      <div class="container">
        <div class="page-header clearifx">
          <h1 class="title"><a href="/">xinthink's blog</a></h1>
          <i class="sub-title span8">dumping my mind</i>
          <small id="social" class="span2 row muted">
            <a href="https://github.com/xinthink" class="ic-github">GitHub</a> | 
            <a href="http://weibo.com/thinkage" class="button">微博</a>
          </small>
          <div style="clear:both;"></div>
        </div>
      </div>
    </header>
    <div class="container">
