{% include header.html %}

<div id="content-wrapper">
  <div class="inner clearfix">

    <section id="main-content" class="span7">
      <div class="article-title-wrapper">
        <h2 class="article-title">{{ page.title }}</h2>
        <p class="post-subtitle">发表于 {{ page.date | date: '%Y-%m-%d' }}</p>
        <p class="post-tags">
        {% for tag in page.tags %}
          <a href="/tags.html#{{ tag }}">{{ tag }}</a>
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </p>
      </div>
      <div class="article-content">
        {{content}}
      </div>
      <div id="disqus_thread"></div>
    </section>

    {% include sidebar.html %}
  </div>
</div>
{% include footer-post.html %}
{% include end.html %}
